<div class="col-10 offset-1 about">
  <h1> About Splurty</h1>
    <p>
      This iteration of Splurty was built by <a target="_blank" href="http://github.com/NineDrop">Jonathan Stone</a>. A developer still in the infancy of his career.
    </p>
    <p>
      He is learning how to code one step at a time, through trial and hardship, hoping one day to master the art and science of web development.
    </p>
    <p>
      If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jonny.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jonathan Stone</h2>
      <br />
      <p>
        Jonathan Stone is a fledgling web developer. He is currently enrolled in the UC Berkeley Extention Coding Bootcamp, and hopes to become full-stack developer. Prior to his career change, he worked as a delivery driver for Oliver's Market in Sonoma County.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />